#contact {
    padding-bottom: 13.07vh;

    .section__title {
        margin-bottom: 14.38vh;
    }
}
// end of #contact

.contact__left {
    width: 23.81vw;

    font-size: 1.89vw;
    line-height: 2.54vw;

    p {
        margin: 0 0 5.54vh;
    }
}
// end of .contact__left

.contact__right {
    width: 30.16vw;
}
// end of .contact__right 