#header {
    width: 100%;
    height: 100vh;
    padding-top: 7vh;
    padding-bottom: 8vh;

    position: relative;

    background-image: url('../images/backgrounds/header_bg_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
// end of #header

.header__top {
    height: 10vh;
    overflow: hidden;

    .header__phone,
    .header__call {
        text-decoration: none;
        color: $white;
        opacity: .6;
    }

    .header__call {
        border-bottom: 1px dashed $white;

        text-transform: uppercase;
    }

    .header__logo {
        width: 15vh; //let's our logo svg scaling depending of height
        height: 100%;

        svg,
        svg image {
            width: 100%;
            height: 100%;
        }
    }
    // end of .header__logo
}
// end of .header__top

.header__bottom {
    ul {
        padding-left: 0;

        list-style-type: none;

        a {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            color: $white;
        }
    }
}
// end of .header__bottom