#testimonials {
    padding-bottom: 17vh;

    .section__title {
        margin-bottom: 1.85vh;
    }
}
// end of #testimonials

.testimonial {
    flex: 1;
    padding: 0; 

    text-align: center;
    color: $black;

    &__photo {
        position: relative;
        margin-bottom: 1.96vh;
        
        img {
            width: 11.62vw;
            height: 11.62vw;
            margin: 0 auto;

            border-radius: 50%;
        }

        &:before {
         position: absolute;
         content: " ";
         left: calc(50% - 7.94vw);
         top: 50%;                

         width: 40px;
         height: 40px;
         margin-top: -1.96vh;         
     
         background-image: url('../images/icons/quotes.svg');
         background-position: 0 0;
         background-size: contain;
        }
     }
     // end of .testimonial__photo

     &__name {
        margin-bottom: 1.31vh;

        font-weight: bold;                             
    }
    // end of .testimonial__name

    &__position {
        margin-bottom: 5.23vh;

        font-style: italic;
        color: #696973;
    }
    // end of .testimonial__position    

    &__description {
        line-height: 1.37;
        text-align: center;
    }
    // end of .testimonial__description
}
// end of .testimonial